<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barre de navigation responsive sans Bootstrap</title>
    <link rel="stylesheet" href="../../Content/css/footer.css"/>
    <link rel="stylesheet" href="../../Content/css/index.css">

</head>
<body>
<footer>
    <ul class="logement">
        <li class="titre">Louer mon logement</li>
        <li>Logement étudiant</li>
        <li>Résidence étudiante</li>
        <li>Colocation</li>
        <li>Appartement</li>
        <li>Studio</li>
        <li>Chambre chez l’habitant</li>
    </ul>
    <ul class="etudiant">
        <li class="titre">Logement étudiant en France</li>
        <li>Logement étudiant à Paris</li>
        <li>Logement étudiant à Lille</li>
        <li>Logement étudiant à Lyon</li>
        <li>Logement étudiant à Toulouse</li>
        <li>Logement étudiant à Marseille</li>
    </ul>
    <ul class="aPropos">
        <li class="titre">À propos</li>
        <li>Blog</li>
        <li>Actualités</li>
        <li>Écoles et universités partenaires</li>
        <li>Mentions légales</li>
        <li>CGU</li>
        <li>FAQ</li>
    </ul>
    <div class="partDroite">
        <ul class="logo">
            <li class="titre"><img alt="AidAppart" src="../../Content/Images/logo.png"></li>
            <li>Connexion</li>
            <li>Espace propriétaire</li>
            <li>Espace professionnel de </br> l’immobilier</li>
            <li>Gérer les cookies</li>
        </ul>
        <ul class="reseaux">
            <li><img alt="insta" src="../../Content/Images/footer/instagram.png"></li>
            <li><img alt="facebook" src="../../Content/Images/footer/facebook.png"></li>
            <li><img alt="X" src="../../Content/Images/footer/x.png"></li>
            <li><img alt="Snapchat" src="../../Content/Images/footer/instagram.png"></li>
        </ul>
    </div>
    <div></div>
</footer>
</body>
</html>