/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    background-color: #a9ca59; /* Fond vert */
    color: #23435c; /* Police bleue */
    margin: 0;
    padding: 0;
    height: 100vh; /* Pour gérer le positionnement des éléments */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centre {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #23435c; /* Texte bleu */
}

.input-group {
    margin-bottom: 20px; /* Espacement entre les champs */
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 12px 40px; /* Plus d'espace intérieur */
    border: none; /* Suppression des contours */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
    font-size: 1rem;
    outline: none; /* Suppression du contour bleu au focus */
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #aaa;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    cursor: pointer;
}

/* Lien */
.link {
    margin-top: 10px;
    display: block;
    font-size: 0.9rem;
    color: #23435c; /* Lien en bleu */
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    background-color: #8ca74a; /* Couleur verte */
    color: #23435c; /* Couleur bleu pour le texte */
    padding: 15px; /* Plus d'espace intérieur */
    border: none;
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    margin-top: 20px; /* Espacement supérieur pour le bouton */
}

.btn:hover {
    background-color: #8ca74a; /* Vert plus foncé */
}
