/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfe8c7;
    color: #23435C; /* Couleur globale pour tout le texte */
    text-align: center;
}


main {
    margin-top: 100px;
    padding: 20px;
}

/* Applique à tous les textes à l'intérieur du formulaire */
#eligibility-form label,
#eligibility-form button {
    font-weight: bold; /* Texte en gras */
    color: #23435C; /* Couleur bleue */
}

/* Applique spécifiquement au texte des boutons */
#eligibility-form .options button {
    font-weight: bold; /* Texte en gras */
    color: #23435C; /* Couleur bleue */
}

/* Les titres des colonnes */
h3 {
    font-weight: bold; /* Texte en gras */
    color: #23435C; /* Couleur bleue */
}

.eligibility h1 {
    text-align: center; /* Centre le texte horizontalement */
    color: #23435C; /* Couleur bleue */
    font-weight: bold; /* Texte en gras */
}


/* Formulaire */
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1; /* Chaque groupe prend un espace égal */
    min-width: 180px; /* Largeur minimale pour s'adapter */
    text-align: left;
    cursor: pointer;
}

.form-group label {
    display: block;
    text-align: center; /* Centre le texte horizontalement */
    font-size: 18px; /* Augmente légèrement la taille du texte */
    font-weight: bold; /* Met en gras pour les rendre plus visibles */
    margin-bottom: 10px; /* Ajoute un espace entre le titre et les options */
    color: #23435C; /* Assure que la couleur correspond au reste du design */
    
}



.options {
    display: flex;
    flex-direction: column; /* Liste les boutons verticalement */
    gap: 10px;
    cursor: pointer;
}

.options button {
    padding: 20px; /* Taille du bouton */
    font-size: 16px;
    border: 2px solid white; /* Contour blanc */
    background-color: transparent; /* Fond transparent */
    color: #23435C; /* Couleur du texte */
    border-radius: 50%; /* Forme ronde */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center; /* Centre le texte dans le bouton */
    width: 60px; /* Largeur du bouton (égale à la hauteur pour garder la forme ronde) */
    height: 60px; /* Hauteur du bouton */

}

.options button:hover {
    background-color: white; /* Fond blanc au survol */
    color: #23435C; /* Texte bleu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au survol */
}


.submit-btn {
    width: 300px;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 100px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background: linear-gradient(180deg, rgba(171, 201, 89, 0.5) 23.5%, rgba(255, 255, 255, 0.5) 100%);
    cursor: pointer;
}


.hidden {
    display: none;
}
