form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.part-haut{
    display: flex;
    justify-content: space-between;
}
.from-section{
    display: flex;
    flex-direction: column;
}

.form-section {
    flex: 1;
}

input,
select{
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.checkbox-group div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkbox-group label {
    margin-right: 10px;
    font-weight: normal;
}

.checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.part-image {
    display: flex;
    width: 70%;
    height: 80vh;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
    padding: 10px;
}

.image-upload {
    width: 70%;
    aspect-ratio: 1;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: #888;
}

.square {
    width: 70%;
    aspect-ratio: 1;
    background-color: #f0f0f0;
}

.right-square {
    width: 70%;
    background-color: #e0e0e0;
    aspect-ratio: 1;
    align-self: center;
    margin: auto;
}
