body {
    background: var(--degrader-vert);
    color: var(--blue);
}

/* Conteneur principal */
.centre {
    display: flex;
    flex-direction: column; /* Aligne les enfants verticalement */
    justify-content: center;
    align-items: center;
    width: 100%; /* Largeur adaptable */
    padding: 9% 0 7%;
}

/* Groupes de champs */
.input-group {
    width: 75%; /* Largeur par défaut pour les grands écrans */
    padding: 1%;
    margin-bottom: 8%; /* Espacement entre les groupes */
    position: relative;
}

/* Champs de saisie */
.input-group input {
    width: 100%;
    padding: 1% 15%; /* Espace intérieur en % */
    border: none;

    box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    outline: none;
}

/* Icône du cadenas */
.input-group .icon-lock {
    width: 10%; /* Taille en fonction de la largeur du conteneur */
    height: auto;
    position: absolute;
    top: 50%;
    left: 3%; /* Espacement intérieur en % */
    transform: translateY(-50%);
    pointer-events: none;
}

/* Texte des placeholders */
.input-group input::placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

/* Icônes dans les champs */
.input-group .icon {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    width: 7%; /* Taille relative */
    height: auto;
    pointer-events: none;
}

/* Icône de l'œil */
.input-group .eye-icon {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
    width: 6%;
    height: auto;
    cursor: pointer;
    z-index: 1;
}

/* Lien */
.link {
    display: flex;
    flex-direction: column; /* Aligne les enfants verticalement */
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: var(--blue);
    text-decoration: none;

}
.button {
    margin-top: 5%;
    display: block; /* Garde le bouton en tant qu'élément de bloc */
    margin-left: auto; /* Centre horizontalement */
    margin-right: auto; /* Centre horizontalement */
}

.link:hover {
    text-decoration: underline;
}
