.row{
    display: flex;
}

.listings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 2%;
}

.listing{
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.listing img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 0px;
    border-radius: 5px;
}

.filters{
    max-width: calc(40%);
    /* position: fixed; */
    margin-top: 20px;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.listing input{
    width: 5% !important;
    height: 5% !important;
    align-content: center;
}

.filters input[type="number"]{
    width: auto !important;
}

.filters input[type="checkbox"]{
    width: 10% !important;
}

ul > li{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.search-selection{
    > h1 {
        color: white;
        text-align: center;
    }
    color: white;
    background-color: var(--blue);
}
@media (max-width: 768px) {
    .listings {
        flex-direction: column;
        margin-left: 0;
    }

    .listing {
        width: 100%;
    }

    .filters {
        max-width: 100%;
        margin-top: 10px;
    }

    .row {
        flex-direction: column;
    }
}